{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

  <style>
    .socialaccount_providers a {
      font-size:20px; color: #000;
    }
  </style>

  <div class="user-card">
    <h1>{% trans "Sign In" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
      <p style="margin-bottom:30px; background:#f7ba5b; padding: 10px 0px; color:#000;">{% blocktrans with site.name as site_name %}Please sign in with one
      of your existing third party accounts. <br>Or sign up with social networks, <a href="{{ signup_url }}" style="color: red;text-decoration:none;">sign up</a>
      for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">
      <ul class="socialaccount_providers">
        <span>Войти с помощью: </span>
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>
      <!--    <div class="login-or">{% trans 'or' %}</div>-->
      <br>
    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
      <p>{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}

      {% for field in form %}
        {{ field }}<br style="margin: 15px 0px;">
      {% endfor %}

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <a class="button secondaryAction" href="{% url 'account_reset_password' %}" style="color: #000; margin-right:20px;">{% trans "Forgot Password?" %}</a>
      <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
    </form>

  </div>

{% endblock %}
