body {background: #7abecc;}
div ul li a {
    text-decoration:none;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.user-card {
    margin-top:50px;
    background-color: #74cfbf;
    text-align:center;
    padding: 20px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              border-radius: 5px;
}
button {
    background: #f7ba5b !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
    margin-top: 20px;
    padding: 10px 42px;
}
input {
    border:none;
    outline:none;
    padding:10px 12px;
    margin: 10px 5px;
    width:320px;
}
li {list-style-type:none;}
.menu__social ul li a {color: #000;background-color:#f7ba5b;padding:8px 32px;}
